In [5]:
import pandas as pd

In [63]:
df = pd.read_csv('heart_data.csv')

In [64]:
df.head()

   Unnamed: 0  Value          county state
0           0    0.0  Aleutians East    AK
1           1    0.0  Aleutians West    AK
2           2  125.4       Anchorage    AK
3           3  191.4          Bethel    AK
4           4    0.0     Bristol Bay    AK

In [67]:
heart_disease = df.copy()
heart_disease

      Unnamed: 0  Heart Disease value                            county state
0              0                  0.0                    Aleutians East    AK
1              1                  0.0                    Aleutians West    AK
2              2                125.4                         Anchorage    AK
3              3                191.4                            Bethel    AK
4              4                  0.0                       Bristol Bay    AK
...          ...                  ...                               ...   ...
3221        3221                 82.6                           Yabucoa    PR
3222        3222                133.2                             Yauco    PR
3223        3223                  0.0   Saint Croix (County Equivalent)    VI
3224        3224                  0.0    Saint John (County Equivalent)    VI
3225        3225                  0.0  Saint Thomas (County Equivalent)    VI

[3226 rows x 4 columns]

In [68]:
state_dic = {'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas',
             'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 
             'DC': 'District of Columbia', 'FL': 'Florida', 'GA': 'Georgia',
             'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 
             'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 
             'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 
             'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire',
             'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 
             'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 
             'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 
             'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 
             'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'PR': 'Puerto Rico'}

In [69]:
heart_disease['state'].replace(state_dic, inplace=True)
heart_disease.head()

   Unnamed: 0  Heart Disease value          county   state
0           0                  0.0  Aleutians East  Alaska
1           1                  0.0  Aleutians West  Alaska
2           2                125.4       Anchorage  Alaska
3           3                191.4          Bethel  Alaska
4           4                  0.0     Bristol Bay  Alaska

In [70]:
heart_disease = heart_disease.drop('Unnamed: 0', axis='columns')

In [71]:
heart_disease1 = heart_disease.copy()

In [72]:
heart_disease1

      Heart Disease value                            county        state
0                     0.0                    Aleutians East       Alaska
1                     0.0                    Aleutians West       Alaska
2                   125.4                         Anchorage       Alaska
3                   191.4                            Bethel       Alaska
4                     0.0                       Bristol Bay       Alaska
...                   ...                               ...          ...
3221                 82.6                           Yabucoa  Puerto Rico
3222                133.2                             Yauco  Puerto Rico
3223                  0.0   Saint Croix (County Equivalent)           VI
3224                  0.0    Saint John (County Equivalent)           VI
3225                  0.0  Saint Thomas (County Equivalent)           VI

[3226 rows x 3 columns]

In [89]:
heart_disease1 = heart_disease1.drop_duplicates(subset = ["county"])

In [143]:
heart_disease1 = heart_disease1.drop('state', axis='columns')

In [144]:
heart_disease1[heart_disease1['county'] == 'Los Angeles']

     Heart Disease value       county
150                149.3  Los Angeles

In [90]:
couties_cities = pd.read_csv('zip_code_database.csv')
couties_cities.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [91]:
couties_cities[couties_cities['primary_city'] == 'Los Angeles']

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
38117,90001,STANDARD,0,Los Angeles,"Firestone Park, Firestone Pk",NaN,CA,Los Angeles County,America/Los_Angeles,323,NaN,US,33.97,-118.24,53610
38118,90002,STANDARD,0,Los Angeles,"August F. Haw, Watts",NaN,CA,Los Angeles County,America/Los_Angeles,"323,562",NaN,US,33.94,-118.24,47820
38119,90003,STANDARD,0,Los Angeles,NaN,Broadway Manchester,CA,Los Angeles County,America/Los_Angeles,323,NaN,US,33.96,-118.27,65150
38120,90004,STANDARD,0,Los Angeles,Oakwood,NaN,CA,Los Angeles County,America/Los_Angeles,323,NaN,US,34.07,-118.31,50840
38121,90005,STANDARD,0,Los Angeles,Sanford,NaN,CA,Los Angeles County,America/Los_Angeles,"213,310,323,562,626,818",NaN,US,34.06,-118.31,29510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38211,90099,STANDARD,0,Los Angeles,NaN,Bar Code Term Annex,CA,Los Angeles County,America/Los_Angeles,213,NaN,US,34.06,-118.23,0
38212,90101,STANDARD,0,Los Angeles,NaN,"Bulk Mail Center, La",CA,Los Angeles County,America/Los_Angeles,213,NaN,US,33.99,-118.16,0
38213,90102,UNIQUE,1,Los Angeles,Brylane,NaN,CA,Los Angeles County,America/Los_Angeles,213,NaN,US,34.01,-118.19,0
38214,90103,UNIQUE,0,Los Angeles,NaN,Rodale Press,CA,Los Angeles County,America/Los_Angeles,213,NaN,US,33.99,-118.16,0
38215,90189,UNIQUE,0,Los Angeles,NaN,Citibank,CA,Los Angeles County,America/Los_Angeles,213,NaN,US,34.06,-118.25,0

In [92]:
couties_cities1 = couties_cities[['primary_city', 'county']]
couties_cities1.head(20)

   primary_city                 county
0    Holtsville         Suffolk County
1    Holtsville         Suffolk County
2      Adjuntas     Adjuntas Municipio
3        Aguada       Aguada Municipio
4     Aguadilla    Aguadilla Municipio
5     Aguadilla                    NaN
6     Aguadilla                    NaN
7       Maricao      Maricao Municipio
8        Anasco       Anasco Municipio
9       Angeles                    NaN
10      Arecibo      Arecibo Municipio
11      Arecibo                    NaN
12      Arecibo                    NaN
13     Bajadero      Arecibo Municipio
14  Barceloneta  Barceloneta Municipio
15     Boqueron    Cabo Rojo Municipio
16    Cabo Rojo    Cabo Rojo Municipio
17     Penuelas     Penuelas Municipio
18        Camuy        Camuy Municipio
19     Castaner        Lares Municipio

In [93]:
couties_cities1 = couties_cities1.dropna()
print(couties_cities1.isna().any())

primary_city    False
county          False
dtype: bool

In [94]:
couties_cities1[couties_cities1['primary_city'] == 'Los Angeles']

      primary_city              county
38117  Los Angeles  Los Angeles County
38118  Los Angeles  Los Angeles County
38119  Los Angeles  Los Angeles County
38120  Los Angeles  Los Angeles County
38121  Los Angeles  Los Angeles County
...            ...                 ...
38211  Los Angeles  Los Angeles County
38212  Los Angeles  Los Angeles County
38213  Los Angeles  Los Angeles County
38214  Los Angeles  Los Angeles County
38215  Los Angeles  Los Angeles County

[96 rows x 2 columns]

In [194]:
couties_cities1 = couties_cities1.drop_duplicates(subset = ["primary_city"])

In [195]:
couties_cities1[couties_cities1['primary_city'] == 'Los Angeles']

      primary_city              county
38117  Los Angeles  Los Angeles County

In [232]:
couties_cities2 = couties_cities1.copy()

In [233]:
couties_cities2[couties_cities2['primary_city'] == 'Los Angeles']

      primary_city              county
38117  Los Angeles  Los Angeles County

In [234]:
couties_cities2['county'].unique().tolist()

['Suffolk County',
 'Adjuntas Municipio',
 'Aguada Municipio',
 'Aguadilla Municipio',
 'Maricao Municipio',
 'Anasco Municipio',
 'Arecibo Municipio',
 'Barceloneta Municipio',
 'Cabo Rojo Municipio',
 'Penuelas Municipio',
 'Camuy Municipio',
 'Lares Municipio',
 'Sabana Grande Municipio',
 'Ciales Municipio',
 'Utuado Municipio',
 'Dorado Municipio',
 'Guanica Municipio',
 'Florida Municipio',
 'Guayanilla Municipio',
 'Hatillo Municipio',
 'Hormigueros Municipio',
 'Isabela Municipio',
 'Jayuya Municipio',
 'Lajas Municipio',
 'Las Marias Municipio',
 'Manati Municipio',
 'Moca Municipio',
 'Rincon Municipio',
 'Quebradillas Municipio',
 'Mayaguez Municipio',
 'San German Municipio',
 'San Sebastian Municipio',
 'Morovis Municipio',
 'Vega Alta Municipio',
 'Vega Baja Municipio',
 'Yauco Municipio',
 'Aguas Buenas Municipio',
 'Salinas Municipio',
 'Aibonito Municipio',
 'Maunabo Municipio',
 'Arroyo Municipio',
 'Ponce Municipio',
 'Naguabo Municipio',
 'Naranjito Municipio',
 'Orocovis Municipio',
 'Patillas Municipio',
 'Caguas Municipio',
 'Canovanas Municipio',
 'Ceiba Municipio',
 'Cayey Municipio',
 'Fajardo Municipio',
 'Cidra Municipio',
 'Humacao Municipio',
 'Rio Grande Municipio',
 'San Lorenzo Municipio',
 'Santa Isabel Municipio',
 'Vieques Municipio',
 'Villalba Municipio',
 'Yabucoa Municipio',
 'Coamo Municipio',
 'Las Piedras Municipio',
 'Loiza Municipio',
 'Luquillo Municipio',
 'Culebra Municipio',
 'Juncos Municipio',
 'Gurabo Municipio',
 'Comerio Municipio',
 'Corozal Municipio',
 'Guayama Municipio',
 'Barranquitas Municipio',
 'Juana Diaz Municipio',
 'San Juan Municipio',
 'Guaynabo Municipio',
 'Toa Baja Municipio',
 'Toa Alta Municipio',
 'Bayamon Municipio',
 'Catano Municipio',
 'Trujillo Alto Municipio',
 'San Juan',
 'Carolina Municipio',
 'Hampden County',
 'Hampshire County',
 'Worcester County',
 'Berkshire County',
 'Franklin County',
 'Middlesex County',
 'Essex County',
 'Plymouth County',
 'Norfolk County',
 'Bristol County',
 'Barnstable County',
 'Dukes County',
 'Nantucket County',
 'Newport County',
 'Providence County',
 'Washington County',
 'Kent County',
 'Rockingham County',
 'Hillsborough County',
 'Merrimack County',
 'Grafton County',
 'Belknap County',
 'Carroll County',
 'Sullivan County',
 'Cheshire County',
 'Coos County',
 'Strafford County',
 'York County',
 'Cumberland County',
 'Sagadahoc County',
 'Oxford County',
 'Androscoggin County',
 'Kennebec County',
 'Lincoln County',
 'Waldo County',
 'Penobscot County',
 'Piscataquis County',
 'Hancock County',
 'Aroostook County',
 'Somerset County',
 'Knox County',
 'Windsor County',
 'Orange County',
 'Caledonia County',
 'Windham County',
 'Bennington County',
 'Chittenden County',
 'Grand Isle County',
 'Lamoille County',
 'Addison County',
 'Rutland County',
 'Orleans County',
 'Hartford County',
 'Litchfield County',
 'Tolland County',
 'New London County',
 'New Haven County',
 'Fairfield County',
 'Hudson County',
 'Morris County',
 'Bergen County',
 'Passaic County',
 'Union County',
 'Sussex County',
 'Monmouth County',
 'Warren County',
 'Hunterdon County',
 'Salem County',
 'Camden County',
 'Ocean County',
 'Burlington County',
 'Gloucester County',
 'Atlantic County',
 'Cape May County',
 'Mercer County',
 'New York County',
 'Richmond County',
 'Bronx County',
 'Westchester County',
 'Putnam County',
 'Rockland County',
 'Nassau County',
 'Queens County',
 'Albany County',
 'Schenectady County',
 'Montgomery County',
 'Columbia County',
 'Rensselaer County',
 'Saratoga County',
 'Fulton County',
 'Schoharie County',
 'Greene County',
 'Otsego County',
 'Hamilton County',
 'Delaware County',
 'Ulster County',
 'Dutchess County',
 'Clinton County',
 'St. Lawrence County',
 'St Lawrence County',
 'Onondaga County',
 'Oswego County',
 'Madison County',
 'Cayuga County',
 'Cortland County',
 'Oneida County',
 'Seneca County',
 'Tompkins County',
 'Chenango County',
 'Wayne County',
 'Lewis County',
 'Herkimer County',
 'Jefferson County',
 'Tioga County',
 'Broome County',
 'Erie County',
 'Genesee County',
 'Niagara County',
 'Wyoming County',
 'Cattaraugus County',
 'Chautauqua County',
 'Monroe County',
 'Yates County',
 'Livingston County',
 'Ontario County',
 'Allegany County',
 'Steuben County',
 'Schuyler County',
 'Chemung County',
 'Beaver County',
 'Allegheny County',
 'Westmoreland County',
 'Fayette County',
 'Monongalia County',
 'Bedford County',
 'Armstrong County',
 'Indiana County',
 'Cambria County',
 'Clearfield County',
 'Elk County',
 'Cameron County',
 'Butler County',
 'Clarion County',
 'Crawford County',
 'Lawrence County',
 'Forest County',
 'Venango County',
 'Blair County',
 'Huntingdon County',
 'Centre County',
 'Potter County',
 'McKean County',
 'Bradford County',
 'Mifflin County',
 'Lebanon County',
 'Dauphin County',
 'Perry County',
 'Juniata County',
 'Northumberland County',
 'Adams County',
 'Lancaster County',
 'Lycoming County',
 'Snyder County',
 'Schuylkill County',
 'Lehigh County',
 'Northampton County',
 'Carbon County',
 'Berks County',
 'Bucks County',
 'Luzerne County',
 'Pike County',
 'Lackawanna County',
 'Susquehanna County',
 'Chester County',
 'New Castle County',
 'Loudoun County',
 'Culpeper County',
 'Manassas City',
 'Fauquier County',
 'Fairfax County',
 'Clarke County',
 'Prince William County',
 'District of Columbia',
 'Howard County',
 'Charles County',
 "St. Mary's County",
 "Prince George's County",
 'Calvert County',
 "St Mary's County",
 'Anne Arundel County',
 'Harford County',
 'Baltimore County',
 'Baltimore city',
 'Garrett County',
 'Mineral County',
 "Queen Anne's County",
 'Talbot County',
 'Dorchester County',
 'Caroline County',
 'Frederick County',
 'Wicomico County',
 'Cecil County',
 'Falls Church City',
 'Arlington County',
 'Stafford County',
 'King George County',
 'Spotsylvania County',
 'Rappahannock County',
 'Shenandoah County',
 'Page County',
 'Harrisonburg city',
 'Augusta County',
 'Albemarle County',
 'Nelson County',
 'Louisa County',
 'Amelia County',
 'Buckingham County',
 'King William County',
 'New Kent County',
 'Powhatan County',
 'Hanover County',
 'Mathews County',
 'Fluvanna County',
 'King and Queen County',
 'Charles City County',
 'Goochland County',
 'Henrico County',
 'James City',
 'Chesterfield County',
 'James City County',
 'Charles City',
 'Richmond city',
 'Accomack County',
 'Isle of Wight County',
 'Chesapeake city',
 'Suffolk city',
 'Virginia Beach City',
 'Newport News city',
 'Hampton city',
 'Poquoson city',
 'Brunswick County',
 'Southampton County',
 'Prince George County',
 'Dinwiddie County',
 'Colonial Heights city',
 'Surry County',
 'Greensville County',
 'Prince Edward County',
 'Mecklenburg County',
 'Nottoway County',
 'Charlotte County',
 'Appomattox County',
 'Lunenburg County',
 'Roanoke City',
 'Patrick County',
 'Henry County',
 'Pulaski County',
 'Roanoke County',
 'Botetourt County',
 'Floyd County',
 'Giles County',
 'Craig County',
 'Radford city',
 'Pittsylvania County',
 'Wise County',
 'Dickenson County',
 'Lee County',
 'Russell County',
 'Scott County',
 'Grayson County',
 'Smyth County',
 'Wythe County',
 'Bland County',
 'Tazewell County',
 'Galax city',
 'Staunton city',
 'Bath County',
 'Highland County',
 'Rockbridge County',
 'Alleghany County',
 'Lynchburg city',
 'Campbell County',
 'Halifax County',
 'Amherst County',
 'Buchanan County',
 'McDowell County',
 'Mingo County',
 'Greenbrier County',
 'Pocahontas County',
 'Summers County',
 'Roane County',
 'Raleigh County',
 'Kanawha County',
 'Clay County',
 'Boone County',
 'Logan County',
 'Braxton County',
 'Mason County',
 'Jackson County',
 'Calhoun County',
 'Gilmer County',
 'Morgan County',
 'Berkeley County',
 'Cabell County',
 'Ohio County',
 'Brooke County',
 'Marshall County',
 'Wood County',
 'Wirt County',
 'Tyler County',
 'Ritchie County',
 'Wetzel County',
 'Upshur County',
 'Nicholas County',
 'Webster County',
 'Randolph County',
 'Barbour County',
 'Tucker County',
 'Harrison County',
 'Doddridge County',
 'Preston County',
 'Taylor County',
 'Marion County',
 'Grant County',
 'Hardy County',
 'Pendleton County',
 'Davie County',
 'Forsyth County',
 'Yadkin County',
 'Stokes County',
 'Rowan County',
 'Alamance County',
 'Chatham County',
 'Caswell County',
 'Guilford County',
 'Moore County',
 'Person County',
 'Davidson County',
 'Harnett County',
 'Wake County',
 'Durham County',
 'Granville County',
 'Johnston County',
 'Vance County',
 'Hertford County',
 'Nash County',
 'Beaufort County',
 'Pitt County',
 'Edgecombe County',
 'Wilson County',
 'Hyde County',
 'Martin County',
 'Bertie County',
 'Pasquotank County',
 'Currituck County',
 'Gates County',
 'Perquimans County',
 'Chowan County',
 'Dare County',
 'Stanly County',
 'Gaston County',
 'Anson County',
 'Iredell County',
 'Rutherford County',
 'Cleveland County',
 'Cabarrus County',
 'Sampson County',
 'Bladen County',
 'Duplin County',
 'Scotland County',
 'Robeson County',
 'Hoke County',
 'Pender County',
 'New Hanover County',
 'Columbus County',
 'Onslow County',
 'Lenoir County',
 'Pamlico County',
 'Carteret County',
 'Craven County',
 'Jones County',
 'Watauga County',
 'Caldwell County',
 'Burke County',
 'Catawba County',
 'Avery County',
 'Ashe County',
 'Wilkes County',
 'Alexander County',
 'Mitchell County',
 'Transylvania County',
 'Buncombe County',
 'Henderson County',
 'Swain County',
 'Graham County',
 'Haywood County',
 'Yancey County',
 'Polk County',
 'Macon County',
 'Cherokee County',
 'Clarendon County',
 'Richland County',
 'Bamberg County',
 'Lexington County',
 'Kershaw County',
 'Orangeburg County',
 'Newberry County',
 'Sumter County',
 'Williamsburg County',
 'Darlington County',
 'Colleton County',
 'Aiken County',
 'Florence County',
 'Saluda County',
 'Spartanburg County',
 'Laurens County',
 'Charleston County',
 'Horry County',
 'Marlboro County',
 'Dillon County',
 'Georgetown County',
 'Abbeville County',
 'Anderson County',
 'Pickens County',
 'Greenville County',
 'Oconee County',
 'Greenwood County',
 'Barnwell County',
 'McCormick County',
 'Edgefield County',
 'Allendale County',
 'Hampton County',
 'Jasper County',
 'DeKalb County',
 'Gwinnett County',
 'Rockdale County',
 'Walton County',
 'Newton County',
 'Dekalb County',
 'Bartow County',
 'Cobb County',
 'Douglas County',
 'Cleburne County',
 'Gordon County',
 'Haralson County',
 'Spalding County',
 'Butts County',
 'Heard County',
 'Coweta County',
 'Troup County',
 'Clayton County',
 'Meriwether County',
 'Lamar County',
 'Upson County',
 'Emanuel County',
 'Wheeler County',
 'Evans County',
 'Bulloch County',
 'Tattnall County',
 'Candler County',
 'Jenkins County',
 'Screven County',
 'Treutlen County',
 'Toombs County',
 'Hall County',
 'Habersham County',
 'Hart County',
 'Lumpkin County',
 'Dawson County',
 'Rabun County',
 'Stephens County',
 'Fannin County',
 'Towns County',
 'White County',
 'Oglethorpe County',
 'Taliaferro County',
 'Elbert County',
 'Barrow County',
 'Walker County',
 'Murray County',
 'Whitfield County',
 'Chattooga County',
 'Dade County',
 'Catoosa County',
 'McDuffie County',
 'Glascock County',
 'Houston County',
 'Dooly County',
 'Crisp County',
 'Bleckley County',
 'Twiggs County',
 'Dodge County',
 'Wilkinson County',
 'Johnson County',
 'Bibb County',
 'Telfair County',
 'Baldwin County',
 'Wilcox County',
 'Effingham County',
 'Bryan County',
 'Liberty County',
 'Long County',
 'McIntosh County',
 'Ware County',
 'Coffee County',
 'Appling County',
 'Pierce County',
 'Glynn County',
 'Charlton County',
 'Jeff Davis County',
 'Brantley County',
 'Lowndes County',
 'Cook County',
 'Berrien County',
 'Atkinson County',
 'Brooks County',
 'Clinch County',
 'Lanier County',
 'Echols County',
 'Thomas County',
 'Tift County',
 'Colquitt County',
 'Ben Hill County',
 'Irwin County',
 'Worth County',
 'Turner County',
 'Harris County',
 'Chattahoochee County',
 'Schley County',
 'Stewart County',
 'Muscogee County',
 'St. Johns County',
 'Lafayette County',
 'Baker County',
 'Suwannee County',
 'Lake County',
 'Volusia County',
 'Flagler County',
 'Duval County',
 'Leon County',
 'Gadsden County',
 'Wakulla County',
 'Bay County',
 'Holmes County',
 'Gulf County',
 'Escambia County',
 'Santa Rosa County',
 'Okaloosa County',
 'Alachua County',
 'Gilchrist County',
 'Levy County',
 'Dixie County',
 'Seminole County',
 'Brevard County',
 'Indian River County',
 'Miami-Dade County',
 'Broward County',
 'Palm Beach County',
 'Hendry County',
 'Glades County',
 'Pasco County',
 'Pinellas County',
 'Highlands County',
 'Osceola County',
 'Hardee County',
 'Collier County',
 'Manatee County',
 'Sarasota County',
 'Desoto County',
 'DeSoto County',
 'Citrus County',
 'Hernando County',
 'St. Lucie County',
 'Okeechobee County',
 'Shelby County',
 'Tallapoosa County',
 'Blount County',
 'Cullman County',
 'Talladega County',
 'Chilton County',
 'St. Clair County',
 'Coosa County',
 'Tuscaloosa County',
 'Hale County',
 'Winston County',
 'Limestone County',
 'Lauderdale County',
 'Colbert County',
 'Etowah County',
 'Autauga County',
 'Crenshaw County',
 'Elmore County',
 'Covington County',
 'Bullock County',
 'Dale County',
 'Geneva County',
 'Conecuh County',
 'Mobile County',
 'Marengo County',
 'Dallas County',
 'Chambers County',
 'Choctaw County',
 'Cheatham County',
 'Cannon County',
 'Hickman County',
 'Dickson County',
 'Sumner County',
 'Robertson County',
 'Williamson County',
 'Smith County',
 'Humphreys County',
 'Grundy County',
 'Sequatchie County',
 'Rhea County',
 'Carter County',
 'Unicoi County',
 'Claiborne County',
 'Grainger County',
 'Hawkins County',
 'Cocke County',
 'Sevier County',
 'Loudon County',
 'McMinn County',
 'Hamblen County',
 'Meigs County',
 'Tipton County',
 'Crockett County',
 'Dyer County',
 'Hardeman County',
 'Weakley County',
 'Obion County',
 'Decatur County',
 'McNairy County',
 'Hardin County',
 'Gibson County',
 'Benton County',
 'Maury County',
 'Fentress County',
 'Overton County',
 'Pickett County',
 'Tate County',
 'Quitman County',
 'Tippah County',
 'Coahoma County',
 'Panola County',
 'Tunica County',
 'Sharkey County',
 'Bolivar County',
 'Sunflower County',
 'Issaquena County',
 'Pontotoc County',
 'Prentiss County',
 'Itawamba County',
 'Chickasaw County',
 'Tishomingo County',
 'Alcorn County',
 'Grenada County',
 'Tallahatchie County',
 'Leflore County',
 'Yalobusha County',
 'Yazoo County',
 'Simpson County',
 'Copiah County',
 'Attala County',
 'Leake County',
 'Rankin County',
 'Hinds County',
 'Kemper County',
 'Noxubee County',
 'Forrest County',
 'Jefferson Davis County',
 'Pearl River County',
 'George County',
 'Stone County',
 'Amite County',
 'Walthall County',
 'Oktibbeha County',
 'Early County',
 'Terrell County',
 'Grady County',
 'Miller County',
 'Oldham County',
 'Spencer County',
 'Meade County',
 'Breckinridge County',
 'Bullitt County',
 'Powell County',
 'Menifee County',
 'Jessamine County',
 'Owen County',
 'Bourbon County',
 'Rockcastle County',
 'Garrard County',
 'Boyle County',
 'Estill County',
 'Laurel County',
 'Whitley County',
 'Harlan County',
 'Leslie County',
 'Letcher County',
 'Bell County',
 'Kenton County',
 'Fleming County',
 'Gallatin County',
 'Greenup County',
 'Boyd County',
 'Elliott County',
 'Breathitt County',
 'Owsley County',
 'Wolfe County',
 'Magoffin County',
 'Knott County',
 'McCracken County',
 'Calloway County',
 'Ballard County',
 'Carlisle County',
 'Crittenden County',
 'Lyon County',
 'Graves County',
 'Allen County',
 'Barren County',
 'Metcalfe County',
 'Edmonson County',
 'Trigg County',
 'Christian County',
 'Todd County',
 'Daviess County',
 'McLean County',
 'Muhlenberg County',
 'Hopkins County',
 'Casey County',
 'McCreary County',
 'Adair County',
 'Larue County',
 'Green County',
 'Licking County',
 'Champaign County',
 'Ross County',
 'Pickaway County',
 'Hocking County',
 'Morrow County',
 'Wyandot County',
 'Sandusky County',
 'Ottawa County',
 'Lucas County',
 'Williams County',
 'Defiance County',
 'Muskingum County',
 'Noble County',
 'Guernsey County',
 'Coshocton County',
 'Tuscarawas County',
 'Belmont County',
 'Columbiana County',
 'Ashtabula County',
 'Lorain County',
 'Cuyahoga County',
 'Geauga County',
 'Summit County',
 'Portage County',
 'Medina County',
 'Mahoning County',
 'Trumbull County',
 'Stark County',
 'Ashland County',
 'Huron County',
 'Preble County',
 'Clermont County',
 'Brown County',
 'Darke County',
 'Miami County',
 'Clark County',
 'Gallia County',
 'Scioto County',
 'Vinton County',
 'Athens County',
 'Van Wert County',
 'Paulding County',
 'Auglaize County',
 'Hendricks County',
 'Rush County',
 'Porter County',
 'LaPorte County',
 'Starke County',
 'Kosciusko County',
 'Elkhart County',
 'St. Joseph County',
 'LaGrange County',
 'Huntington County',
 'Wells County',
 'Lagrange County',
 'Cass County',
 'Wabash County',
 'Switzerland County',
 'Ripley County',
 'Dearborn County',
 'Jennings County',
 'Bartholomew County',
 'Blackford County',
 'Jay County',
 'Dubois County',
 'Warrick County',
 'Vanderburgh County',
 'Posey County',
 'Vigo County',
 'Vermillion County',
 'Parke County',
 'Tippecanoe County',
 'Fountain County',
 'Lapeer County',
 'Macomb County',
 'Oakland County',
 'Washtenaw County',
 'Sanilac County',
 'Saginaw County',
 'Shiawassee County',
 'Gratiot County',
 'Clare County',
 'Oscoda County',
 'Midland County',
 'Gladwin County',
 'Roscommon County',
 'Ogemaw County',
 'Arenac County',
 'Alcona County',
 'Tuscola County',
 'Iosco County',
 'Ingham County',
 'Ionia County',
 'Montcalm County',
 'Eaton County',
 'Isabella County',
 'Kalamazoo County',
 'Allegan County',
 'Van Buren County',
 'Barry County',
 'Lenawee County',
 'Hillsdale County',
 'Mecosta County',
 'Newaygo County',
 'Muskegon County',
 'Oceana County',
 'Wexford County',
 'Benzie County',
 'Manistee County',
 'Leelanau County',
 'Antrim County',
 'Kalkaska County',
 'Grand Traverse County',
 'Missaukee County',
 'Emmet County',
 'Alpena County',
 'Chippewa County',
 'Charlevoix County',
 'Cheboygan County',
 'Presque Isle County',
 'Mackinac County',
 'Montmorency County',
 'Dickinson County',
 'Keweenaw County',
 'Alger County',
 'Delta County',
 'Marquette County',
 'Menominee County',
 'Schoolcraft County',
 'Luce County',
 'Iron County',
 'Houghton County',
 'Baraga County',
 'Ontonagon County',
 'Gogebic County',
 'Story County',
 'Guthrie County',
 'Mahaska County',
 'Audubon County',
 'Wright County',
 'Ringgold County',
 'Poweshiek County',
 'Tama County',
 'Keokuk County',
 'Cerro Gordo County',
 'Winnebago County',
 'Kossuth County',
 'Buena Vista County',
 'Palo Alto County',
 'Humboldt County',
 'Sac County',
 'Black Hawk County',
 'Bremer County',
 'Woodbury County',
 'Monona County',
 'Ida County',
 'Sioux County',
 "O'Brien County",
 'Pottawattamie County',
 'Mills County',
 'Fremont County',
 'Dubuque County',
 'Winneshiek County',
 'Allamakee County',
 'Linn County',
 'Iowa County',
 'Cedar County',
 'Wapello County',
 'Davis County',
 'Appanoose County',
 'Des Moines County',
 'Muscatine County',
 'Sheboygan County',
 'Ozaukee County',
 'Fond du Lac County',
 'Calumet County',
 'Waukesha County',
 'Manitowoc County',
 'Kenosha County',
 'Milwaukee County',
 'Walworth County',
 'Racine County',
 'Dane County',
 'Rock County',
 ...]

In [235]:
subset = couties_cities2[['county']]

In [236]:
def rm_county(county):
    return county.strip('"')[:-7]

rm_county(couties_cities2['county'][0])

'Suffolk'

In [237]:
couties_cities2['county'] = couties_cities2['county'].apply(rm_county)

In [238]:
couties_cities2.head()

  primary_city        county
0   Holtsville       Suffolk
2     Adjuntas   Adjuntas Mu
3       Aguada     Aguada Mu
4    Aguadilla  Aguadilla Mu
7      Maricao    Maricao Mu

In [241]:
couties_cities2[couties_cities2['county'] == 'Los Angeles']

         primary_city       county
38117     Los Angeles  Los Angeles
38185  West Hollywood  Los Angeles
38205      Dodgertown  Los Angeles
38208     Playa Vista  Los Angeles
38216    Bell Gardens  Los Angeles
...               ...          ...
38653     West Covina  Los Angeles
39447     Lake Hughes  Los Angeles
39454      Littlerock  Los Angeles
39462     Pearblossom  Los Angeles
39470        Valyermo  Los Angeles

[92 rows x 2 columns]

In [243]:
heart_clean = pd.merge(heart_disease1,couties_cities2, on='county', how='right')
print(heart_clean.shape)
heart_clean.head(10)

(18725, 3)

   Heart Disease value   county    primary_city
0                141.1   Juneau           Elroy
1                141.1   Juneau  Lyndon Station
2                141.1   Juneau         Mauston
3                141.1   Juneau    Union Center
4                141.1   Juneau         Wonewoc
5                141.1   Juneau    Camp Douglas
6                141.1   Juneau         Hustler
7                141.1   Juneau         Necedah
8                112.2  Alameda         Alameda
9                112.2  Alameda   Castro Valley

In [244]:
heart_clean[heart_clean['primary_city'] == 'Los Angeles']

      Heart Disease value       county primary_city
2321                149.3  Los Angeles  Los Angeles

In [248]:
heart_clean.dropna()

       Heart Disease value    county    primary_city
0                    141.1    Juneau           Elroy
1                    141.1    Juneau  Lyndon Station
2                    141.1    Juneau         Mauston
3                    141.1    Juneau    Union Center
4                    141.1    Juneau         Wonewoc
...                    ...       ...             ...
18343                183.7  Washburn         Spooner
18344                183.7  Washburn          Minong
18345                183.7  Washburn          Sarona
18346                183.7  Washburn      Shell Lake
18347                183.7  Washburn           Trego

[18348 rows x 3 columns]

In [249]:
heart_clean[heart_clean['primary_city'] == 'Los Angeles']

      Heart Disease value       county primary_city
2321                149.3  Los Angeles  Los Angeles

In [256]:
heart_clean.rename(columns={'primary_city': 'City_Name'}, inplace=True)

In [257]:
larger_dataset = pd.read_csv('completeddataset.csv')
larger_dataset = larger_dataset.drop(columns='city')
pd.set_option('display.max_columns', None)
larger_dataset.head()

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore
0,Newburgh,New York,28363,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833
1,Newstead,New York,8594,2.3,43.8,58506.0,64894.0,160600.0,849.0,100.3,14.6,169.0,4.3,"['Educational services (10.9%)', 'Construction...",2287.0,43.01,78.52,24.2,624.0,0.870399,61.4,21.199948,6.800052,77.26,17.413599,12.586401,76.95,52.33,18.4,45.1,61.8,44.8,34.1,50.0,41.533333,43.066667,52.33,72.003333,52.233333
2,Niagara Falls,New York,48460,-12.8,38.6,35995.0,64894.0,76050.0,665.0,100.7,27.5,3448.0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",2613.0,43.09,79.02,19.2,624.0,1.644172,49.7,20.567890,7.432110,78.77,22.169746,7.830254,43.58,52.33,46.9,6.0,61.2,42.2,12.0,50.0,46.266667,22.666667,52.33,61.183333,45.611667
3,Niagara,New York,8378,-6.7,43.4,53582.0,64894.0,115019.0,1161.0,104.7,9.9,892.0,5.4,"['Health care (7.6%)', 'Accommodation & food s...",2018.0,43.12,78.99,17.1,624.0,0.315951,69.2,17.287673,10.712327,85.63,26.001269,3.998731,18.78,52.33,20.2,65.5,55.5,43.3,28.2,50.0,44.233333,47.900000,52.33,53.303333,49.441667
4,North Amityville,New York,17862,7.8,34.1,73993.0,64894.0,289866.0,1355.0,149.3,8.5,7343.0,3.7,"['Health care (20.6%)', 'Finance & insurance (...",7920.0,40.70,73.41,25.7,827.0,4.631135,12.4,35.380030,-7.380030,34.48,21.975052,8.024948,45.03,24.09,73.7,71.1,6.9,45.8,54.6,50.0,43.966667,58.566667,24.09,28.803333,38.856667

In [259]:
completed_data = pd.merge(larger_dataset,heart_clean, how='outer')
completed_data

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease value,county
0,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange
1,Newstead,New York,8594.0,2.3,43.8,58506.0,64894.0,160600.0,849.0,100.3,14.6,169.0,4.3,"['Educational services (10.9%)', 'Construction...",2287.0,43.01,78.52,24.2,624.0,0.870399,61.4,21.199948,6.800052,77.26,17.413599,12.586401,76.95,52.33,18.4,45.1,61.8,44.8,34.1,50.0,41.533333,43.066667,52.33,72.003333,52.233333,NaN,NaN
2,Niagara Falls,New York,48460.0,-12.8,38.6,35995.0,64894.0,76050.0,665.0,100.7,27.5,3448.0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",2613.0,43.09,79.02,19.2,624.0,1.644172,49.7,20.567890,7.432110,78.77,22.169746,7.830254,43.58,52.33,46.9,6.0,61.2,42.2,12.0,50.0,46.266667,22.666667,52.33,61.183333,45.611667,215.1,Niagara
3,Niagara,New York,8378.0,-6.7,43.4,53582.0,64894.0,115019.0,1161.0,104.7,9.9,892.0,5.4,"['Health care (7.6%)', 'Accommodation & food s...",2018.0,43.12,78.99,17.1,624.0,0.315951,69.2,17.287673,10.712327,85.63,26.001269,3.998731,18.78,52.33,20.2,65.5,55.5,43.3,28.2,50.0,44.233333,47.900000,52.33,53.303333,49.441667,187.0,Marinette
4,North Amityville,New York,17862.0,7.8,34.1,73993.0,64894.0,289866.0,1355.0,149.3,8.5,7343.0,3.7,"['Health care (20.6%)', 'Finance & insurance (...",7920.0,40.70,73.41,25.7,827.0,4.631135,12.4,35.380030,-7.380030,34.48,21.975052,8.024948,45.03,24.09,73.7,71.1,6.9,45.8,54.6,50.0,43.966667,58.566667,24.09,28.803333,38.856667,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20560,Hydaburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince of Wales-Hyder Cens
20561,Hyder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince of Wales-Hyder Cens
20562,Klawock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince of Wales-Hyder Cens
20563,Point Baker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince of Wales-Hyder Cens
20564,Metlakatla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince of Wales-Outer Ketchikan

In [260]:
completed_data[completed_data['City_Name'] == 'Los Angeles']

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease value,county
4215,Los Angeles,California,3999759.0,8.3,35.8,60197.0,71805.0,647000.0,1397.0,145.8,17.4,8527.0,4.4,"['Professional, scientific, technical services...",4670.0,34.09,118.38,29.8,137.0,5.53911,6.7,75.46011,-47.46011,0.01,27.848564,2.151436,10.84,97.03,64.2,33.2,8.7,45.9,36.2,76.0,38.933333,48.466667,97.03,6.516667,47.736667,149.3,Los Angeles

In [268]:
covid = pd.read_csv('covid_may2020.csv')
covid

,Unnamed: 0,date,county,state,fips,cases,deaths
0,103778,2020-05-01,Autauga,Alabama,1001.0,42,3
1,103779,2020-05-01,Baldwin,Alabama,1003.0,175,4
2,103780,2020-05-01,Barbour,Alabama,1005.0,42,1
3,103781,2020-05-01,Bibb,Alabama,1007.0,42,0
4,103782,2020-05-01,Blount,Alabama,1009.0,39,0
...,...,...,...,...,...,...,...
2916,158586,2020-05-19,San Saba,Texas,48411.0,1,0
2917,159056,2020-05-20,Northwest Arctic Borough,Alaska,2188.0,1,0
2918,159956,2020-05-20,Elliott,Kentucky,21063.0,1,0
2919,160579,2020-05-20,Keya Paha,Nebraska,31103.0,3,0
2920,161440,2020-05-20,Hall,Texas,48191.0,1,0

In [269]:
covid.drop(columns=['Unnamed: 0', 'state'], inplace=True)
covid.head()

         date   county    fips  cases  deaths
0  2020-05-01  Autauga  1001.0     42       3
1  2020-05-01  Baldwin  1003.0    175       4
2  2020-05-01  Barbour  1005.0     42       1
3  2020-05-01     Bibb  1007.0     42       0
4  2020-05-01   Blount  1009.0     39       0

In [270]:
data = pd.merge(completed_data, covid, how='outer')
data

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease value,county,date,fips,cases,deaths
0,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.5,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,6059.0,2591.0,50.0
1,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.5,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,12095.0,1412.0,33.0
2,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.5,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,18117.0,101.0,9.0
3,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.5,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,36071.0,8766.0,243.0
4,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.5,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,37135.0,219.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shackelford,2020-05-07,48417.0,1.0,0.0
89116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laclede,2020-05-09,29105.0,1.0,0.0
89117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Covington city,2020-05-09,51580.0,1.0,0.0
89118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Storey,2020-05-18,32029.0,1.0,0.0
89119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northwest Arctic Borough,2020-05-20,2188.0,1.0,0.0

In [271]:
data = data.dropna()
data

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease value,county,date,fips,cases,deaths
0,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,6059.0,2591.0,50.0
1,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,12095.0,1412.0,33.0
2,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,18117.0,101.0,9.0
3,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,36071.0,8766.0,243.0
4,Newburgh,New York,28363.0,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0,4.690951,12.0,43.902689,-15.902689,13.82,36.029563,-6.029563,0.27,28.88,94.8,2.5,15.0,44.5,14.2,50.0,50.433333,22.233333,28.88,9.696667,27.810833,130.7,Orange,2020-05-01,37135.0,219.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81983,Western,Arizona,11873.0,-12.7,23.4,35244.0,56581.0,50181.0,782.0,83.2,28.4,7.0,7.7,"['Educational services (23.0%)', 'Mining, quar...",199.0,36.68,110.30,31.2,829.0,0.994632,59.5,9.533300,18.466700,95.46,26.625809,3.374191,15.77,23.86,99.0,4.9,82.2,42.3,11.5,21.0,66.933333,12.466667,23.86,64.476667,41.934167,133.0,Saline,2020-05-01,20169.0,21.0,2.0
81984,Western,Arizona,11873.0,-12.7,23.4,35244.0,56581.0,50181.0,782.0,83.2,28.4,7.0,7.7,"['Educational services (23.0%)', 'Mining, quar...",199.0,36.68,110.30,31.2,829.0,0.994632,59.5,9.533300,18.466700,95.46,26.625809,3.374191,15.77,23.86,99.0,4.9,82.2,42.3,11.5,21.0,66.933333,12.466667,23.86,64.476667,41.934167,133.0,Saline,2020-05-01,29195.0,190.0,0.0
81985,Western,Arizona,11873.0,-12.7,23.4,35244.0,56581.0,50181.0,782.0,83.2,28.4,7.0,7.7,"['Educational services (23.0%)', 'Mining, quar...",199.0,36.68,110.30,31.2,829.0,0.994632,59.5,9.533300,18.466700,95.46,26.625809,3.374191,15.77,23.86,99.0,4.9,82.2,42.3,11.5,21.0,66.933333,12.466667,23.86,64.476667,41.934167,133.0,Saline,2020-05-01,31151.0,194.0,0.0
82076,Blytheville,Arkansas,14051.0,-23.1,33.8,36779.0,45869.0,82630.0,648.0,78.6,28.2,682.0,4.8,"['Metal & metal products (13.9%)', 'Educationa...",543.0,35.93,89.91,15.8,695.3,0.476994,67.0,15.628180,12.371820,88.46,21.142500,8.857500,51.29,41.72,75.2,5.1,86.2,40.5,12.6,3.0,60.900000,6.900000,41.72,75.316667,46.209167,296.2,Mississippi,2020-05-01,5093.0,20.0,0.0
82077,Blytheville,Arkansas,14051.0,-23.1,33.8,36779.0,45869.0,82630.0,648.0,78.6,28.2,682.0,4.8,"['Metal & metal products (13.9%)', 'Educationa...",543.0,35.93,89.91,15.8,695.3,0.476994,67.0,15.628180,12.371820,88.46,21.142500,8.857500,51.29,41.72,75.2,5.1,86.2,40.5,12.6,3.0,60.900000,6.900000,41.72,75.316667,46.209167,296.2,Mississippi,2020-05-01,29133.0,29.0,0.0

In [272]:
data[data['City_Name'] == 'Los Angeles']

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease value,county,date,fips,cases,deaths
76851,Los Angeles,California,3999759.0,8.3,35.8,60197.0,71805.0,647000.0,1397.0,145.8,17.4,8527.0,4.4,"['Professional, scientific, technical services...",4670.0,34.09,118.38,29.8,137.0,5.53911,6.7,75.46011,-47.46011,0.01,27.848564,2.151436,10.84,97.03,64.2,33.2,8.7,45.9,36.2,76.0,38.933333,48.466667,97.03,6.516667,47.736667,149.3,Los Angeles,2020-05-01,6037.0,24215.0,1172.0