In [1]:
import pandas as pd

In [6]:
raul = pd.read_csv('./finaldataset.csv')
print(raul.columns)

Index(['city', 'City_Name', 'state', 'population', 'population_change',
       'Median_Age', 'Median_Income', 'per_capita_Income',
       'Median_House_Value', 'Median_Rent', 'Cost_of_Living_Index',
       'Percent_below_Poverty', 'Crime_rate', 'Population_Density',
       'Unemployment_rate', 'Most_Common_Industries', 'Property_taxes',
       'Latitude', 'Longitude', 'Average_Commute_Time', 'AQI', 'popden_score',
       'popden_norm', 'HDTI', 'HDTIscore', 'HDTIscorenorm', 'RTI', 'RTIscore',
       'RTIscorenorm', 'AQIscore', 'MedAgescore', 'Povertyscore', 'COLIscore',
       'popchangescore', 'MedIncscore', 'PerCapIncscore', 'PopulationScore',
       'EconomyScore', 'ClimateScore', 'CostofLivingScore', 'LivabilityScore',
       'Coldday_Count', 'Hotday_Count', 'Rainday_Count'],
      dtype='object')

In [7]:
final0318 = pd.read_csv('./final_0318.csv')
print(final0318.columns)

Index(['Unnamed: 0', 'city', 'City_Name', 'state', 'population',
       'population_change', 'Median_Age', 'Median_Income', 'per_capita_Income',
       'Median_House_Value', 'Median_Rent', 'Cost_of_Living_Index',
       'Percent_below_Poverty', 'Crime_rate', 'Population_Density',
       'Unemployment_rate', 'Most_Common_Industries', 'Property_taxes',
       'Latitude', 'Longitude', 'Average_Commute_Time', 'AQI', 'popden_score',
       'popden_norm', 'HDTI', 'HDTIscore', 'HDTIscorenorm', 'RTI', 'RTIscore',
       'RTIscorenorm', 'AQIscore', 'MedAgescore', 'Povertyscore', 'COLIscore',
       'popchangescore', 'MedIncscore', 'PerCapIncscore', 'PopulationScore',
       'EconomyScore', 'ClimateScore', 'CostofLivingScore', 'LivabilityScore',
       'pop_rank', 'pop_ch_rank', 'med_age_rank', 'house_cost', 'rent_cost',
       'pop_density', 'cli_index', 'avg_commute', 'air', 'id'],
      dtype='object')

In [10]:
weather = raul[['city', 'Coldday_Count', 'Hotday_Count', 'Rainday_Count']]
weather.head()

                  city  Coldday_Count  Hotday_Count  Rainday_Count
0    Addison, Illinois            180            14             91
1  Algonquin, Illinois            185            17             94
2      Alsip, Illinois            170            19             81
3      Alton, Illinois            127            15             76
4    Antioch, Illinois            195            10             78

In [11]:
final2 = final0318.merge(weather)
final2.columns

Index(['Unnamed: 0', 'city', 'City_Name', 'state', 'population',
       'population_change', 'Median_Age', 'Median_Income', 'per_capita_Income',
       'Median_House_Value', 'Median_Rent', 'Cost_of_Living_Index',
       'Percent_below_Poverty', 'Crime_rate', 'Population_Density',
       'Unemployment_rate', 'Most_Common_Industries', 'Property_taxes',
       'Latitude', 'Longitude', 'Average_Commute_Time', 'AQI', 'popden_score',
       'popden_norm', 'HDTI', 'HDTIscore', 'HDTIscorenorm', 'RTI', 'RTIscore',
       'RTIscorenorm', 'AQIscore', 'MedAgescore', 'Povertyscore', 'COLIscore',
       'popchangescore', 'MedIncscore', 'PerCapIncscore', 'PopulationScore',
       'EconomyScore', 'ClimateScore', 'CostofLivingScore', 'LivabilityScore',
       'pop_rank', 'pop_ch_rank', 'med_age_rank', 'house_cost', 'rent_cost',
       'pop_density', 'cli_index', 'avg_commute', 'air', 'id', 'Coldday_Count',
       'Hotday_Count', 'Rainday_Count'],
      dtype='object')

In [12]:
final2.head()

,Unnamed: 0,city,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,...,house_cost,rent_cost,pop_density,cli_index,avg_commute,air,id,Coldday_Count,Hotday_Count,Rainday_Count
0,0,"Addison, Illinois",Addison,Illinois,36820,2.5,35.8,62163.0,62992.0,243610.0,...,2,4,4,3,4,5,0,180,14,91
1,1,"Algonquin, Illinois",Algonquin,Illinois,31017,33.3,40.3,108464.0,62992.0,267777.0,...,4,4,4,3,5,5,1,185,17,94
2,2,"Alsip, Illinois",Alsip,Illinois,19079,-3.3,36.3,54178.0,62992.0,182815.0,...,3,3,4,3,5,5,2,170,19,81
3,3,"Alton, Illinois",Alton,Illinois,26725,-12.4,37.9,38393.0,62992.0,81265.0,...,5,2,3,2,4,5,3,127,15,76
4,4,"Antioch, Illinois",Antioch,Illinois,14235,62.0,38.0,83406.0,62992.0,206194.0,...,4,5,3,2,5,5,4,195,10,78

In [13]:
final2.to_csv('final_0427.csv')